.statistical-report-container {
    .product-reports {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .chart-container {
        margin-top: 20px;
    }
}
