.table-statis-container {
    width: var(--table-width);
    margin-top: 20px;

    .table {
        width: 100%;

        border-collapse: collapse;

        tr {
            border: 1px solid #f7f7f6;
        }

        td {
            border: 1px solid #f7f7f6;
            text-align: center;
            height: 40px;
            background-color: white;
            color: black;
        }

        th {
            border: 1px solid #f7f7f6;
            text-align: center;
            height: 40px;
            background-color: #54ad32;
            color: white;
        }
    }
}
