.qrcode-garden-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

    .qrCode {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 350px;
        width: 350px;
    }
}
