.row {
    &:hover {
        background-color: rgba(229, 229, 229, 0.4);
    }
}

.view,
.update-remove {
    min-width: 200px;
    
    > div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        height: 100%;
        // background-color: chartreuse;

        > button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px; height: 32px;
            outline: none; border: none;
            background-color: transparent;

            font-size: 24px;
            font-weight: bold;
            font-family: var(--icons-google);

            &:hover { font-size: 28px; }
        }
    }
}
