

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.container-share {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 111;
    background-color: rgba($color: #000000, $alpha: 0.1);
    align-content: center;
    .wrap {
        background-color: #ffffff;
        width: 500px;
        min-height: 250px;
        padding: 15px 20px;
        margin: auto;
        border-radius: 10px;
        opacity: 0;
	      animation: fadeIn 0.1s ease-in both;
        .list-share {
            display: flex;
            align-items: center;
            overflow-x: scroll;
            padding: 10px 0;
            margin-bottom: 10px;
            .item-share {
                display: grid;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                .text{
                    font-size: small;
                    text-align: center;
                }        
            }
        }
        .qrcode{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
        }
        
        .header-share {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text{
                font-weight: 300;
                font-style: italic;
            }
            .icon {
                cursor: pointer;
                display: block;
                font-size: 30px;
                font-family: var(--icons-google);
                color: black;
            }
        }
        .footer-share {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            margin-top: 20px;
            border-radius: 10px;
            border-color: #928f8f;
            border-width: 1px;
            border-style: solid;
            .tooltip {
                position: relative;
                display: inline-block;
              }
              .btn-copy {
                    align-items: center;
                    border: none;
                    outline: none;
                    margin-left: 20px;
                    border-radius: 30px;
                    padding: 8px 10px;
                    color: white;
                    font-weight: '500';
                    font-size: 18px;
                    background-color: #0a5ed4;
              }
              .btn-copy:hover {
                cursor: pointer;
                opacity: 0.9;
              }
              .tooltip .tooltiptext {
                visibility: hidden;
                width: 140px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                bottom: 150%;
                left: 50%;
                margin-left: -75px;
                opacity: 0;
                transition: opacity 0.3s;
              }
              
              .tooltip .tooltiptext::after {
                z-index: 1111;
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
              }
              
              .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
              }
        }
    }
    
}

