.form-container {
    // display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    height: auto;

    padding: 20px;

    > .text-field {
        width: calc(50% - 50px);
        margin: 20px;
    }
    > .supplier {
        width: 100%;
        padding: 20px;
    }
    > .text-field-with-button {
        margin: 20px;
        width: calc(50%);
    }
}
