.container {
    display: block;

    width: 100%;
    height: auto;

    padding: 20px;

    // background-color: blue;
}

.input-wrap {
    display: block;
    position: relative;

    width: 60%;
    height: 100px;

    padding: 20px;

    >.text-field {
        width: 70%;
    }

    >.check-box {
        position: absolute;
        bottom: 10%;
        right: 15%;
        width: 40px;
        height: 40px;
        background-color: white;

        cursor: pointer;
    }

}

.data-table-wrap {
    padding: 20px;
}