.body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 100px;

    padding: 10px;
}

.body {
    > .icon {
        display: block;

        width: 100px;
        height: 100px;

        font-size: 80px;
        font-family: var(--icons-google);
    }

    > .message {
        display: block;

        width: calc(100% - 120px);
        height: auto;

        &.full-width {
            width: 100%;

            text-align: center;
        }
    }
}
