.filter-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;

    .day-chart-select-input {
        padding: 4px;
    }

    > button {
        background-color: grey;
        border: none;
        padding: 7px;
        border-radius: 7px;
        color: white;
        font-weight: bold;

        &.active {
            background-color: blue;
        }
    }

    .btn-view {
        background-color: blue;
        padding: 7px 20px;
    }

    .select {
        padding: 6px;
    }
}
