.garden-detail-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex:1;

    .wrapper , .wrapper1 {
        display: flex;
        flex-direction: column;
        // justify-content: start;
        flex:1;
        height: 400px;
        padding: 10px;
        padding-right: 0;
        
    }
    .wrapper1{
        border-right-width: 1px;
        border-right-color: black;
        border-right-style: solid;
    }
    .content {
        margin-top: 5px;
        overflow: scroll;
    }
    .info{
        padding: 10px;
        min-width: 100px;
        border: 1px solid black;
        margin-right: 10px;
    }
    .item{
        margin-bottom: 10px;
    }
}
